<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto +Condensed:wght@300&display=swap" rel="stylesheet">
    <title>Auth</title>
</head>
<body
    style="
        background:rgba(245, 222, 179, 0.633);
        height: 100vh; 
        width: 100%;
        margin: 0;
    "
>
    <div style="
        margin-top: 3vh;
        background:rgba(245, 222, 179, 0.633);
        height: 100vh; 
        width: 100%;
        font-family: 'Pacifico' , Arial;
        text-align: center;
        color: rgb(92, 91, 91);">
        <h1
            style="width: 30%; margin: 5vh auto;"
        >
            Добро пожаловать в школу 
                <span style="
                    color: rgba(0, 128, 128, 0.695);
                    font-family: Arial, Helvetica, sans-serif" 
                        >Class<span style="
                            color: rgba(250, 34, 77, 0.693);" 
                            >2</span>Be
                </span>!
        </h1>
        <h2
            style="width: 80%; margin: 3vh auto;"
        >
            Мы рады приветствовать вас в нашей школьной семье. Чтобы завершить процесс регистрации и подтвердить ваш аккаунт, пожалуйста, пройдите по следующей ссылке:

        </h2>
        <div style="background: url(''); height: 10vh; "  ></div>
        <p style="width: 60%; margin: 3vh auto;">
            Перейдя по ссылке, вы успешно подтвердите свою регистрацию и получите полный доступ к нашей образовательной платформе.

            Если у вас возникли какие-либо вопросы или трудности, не стесняйтесь обращаться к нашей службе поддержки. Мы всегда готовы помочь.
        </p>
        <h3>
            <i>С уважением, Команда </i>
            <span>
                <span style="
                    color: rgba(0, 128, 128, 0.695);
                    font-family: Arial, Helvetica, sans-serif" 
                    >Class<span style="
                        color: rgba(250, 34, 77, 0.693);" 
                        >2</span>Be
            </span>!
            </span>
        </h3>
        <a >{{msg}}</a>
    </div>
</body>
</html>

